body{
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch input{
    display: none;
}
.switch label {
    display: block;
    width: 120px;
    height: 50px;
    background-image: radial-gradient(
        #bbc0cc , #787c84
    );
    border: 1px solid #5555;
    border-radius: 40px;
    box-shadow:0 3px 15px #0005;
    cursor: pointer;
}
.switch label button{
    pointer-events: none;
    width: 80%;
    height: 100%;
    border-radius: inherit;
    border: none;
    background: linear-gradient(
        to right , #c1c4cc 47%,
        #dddfe5 53%
    );
    box-shadow: inset -2px 0 2px -1px #fff5, inset 2px 0 2px -1px #fff5  ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.switch label button::before,
.switch label button::after{
    content: 'o';
    font-family: monospace;
    width: 50%;
    font-size: xx-large;
    color: #787b48;
}
.switch label button::after{
    content: '-';
    margin-bottom: 5px;
}
.switch label button::before{
    color: #eee;
    transform: translateY(-3px);
    text-shadow:  0 2px 2px #555,
    0 0 5px #eee;
}
.switch label button::after{
    text-shadow:  0 0 5px #fff;
}
.switch input:checked ~ label{
    background:radial-gradient(#a787fe, #3c2777);
}
.switch input:checked ~ label > button{
    margin-left: 20%;
    background: linear-gradient(to right ,
    #926afe 47%,
    #754de3 53%);
}
.switch input:checked ~ label > button::before{
    color: #754de3;
    text-shadow: 0 0 5px #fff5 ;
}
.switch input:checked ~ label > button::after{
    color: #eee;
    text-shadow: 
    0 2px 2px #555,
    0 0 5px #eee;
}
.darkTheme {
    background-color: #201346;
    color: white; /* Chuyển màu chữ sang trắng */
  }
  
  /* Đảm bảo các phần tử con của .darkTheme cũng được áp dụng màu trắng */
  .darkTheme * {
    color: white;
    background-color: transparent; /* Loại bỏ màu nền của các phần tử con */
  }
  
  /* Để loại bỏ bất kỳ hiệu ứng màu sắc nào trên các thẻ a (liên kết) */
  .darkTheme a {
    color: white !important;
    background-color: transparent !important;
  }
  
  /* Đảm bảo các ảnh không bị ảnh hưởng */
  .darkTheme img {
    filter: brightness(100%);
  }
  
  /* Đảm bảo các biểu đồ, bảng và các yếu tố khác không bị ảnh hưởng */
  .darkTheme table,
  .darkTheme chart,
  .darkTheme .other-elements {
    background-color: transparent;
    color: white;
    /* Thêm các tùy chỉnh khác nếu cần thiết */
  }

  
  
  
  
  