@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato&family=Nunito:wght@300;400&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@500&family=Roboto:wght@100;300&family=Space+Grotesk:wght@300&family=Titillium+Web:wght@900&display=swap');
body{
    font-family: 'Poppins',sans-serif;
    color: #222;
    background-image: linear-gradient(
        200deg, #7045d3, #AB65F0
    );
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #1364cf;
}
.login{
    background-color: white;
    width: 270px;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 50px 30px;
    box-shadow: 0 50px 150px #5553;
}
.login .title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}
.login .des{
    margin-bottom: 20px;
}
.login .group{
    background-color: white;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .group input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 20px;
    font-family: 'Poppins';
}
.login .group span{
    color: #777;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
.login .group span ion-icon:nth-child(2){
    display: none;
}
.login .group span.show ion-icon:nth-child(2){
    display: block;
}
.login .group span.show ion-icon:nth-child(1){
    display: none;
}
.login .recovery{
    text-align: right;
    margin-bottom: 20px;
    font-size: small;
}
.login .signIn button{
    background-color: #FA6A69;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    color: white;
    box-shadow: 0 10px 20px #FA6A69;
    margin-bottom: 40px;
    transition: 0.5s;
}
.login ,.signIn button:active{
    transform:translateY(5px);
    box-shadow: none;
}
.login .or{
    font-size: small;
    margin-bottom: 20px;
    position: relative;
}
.login .or::after,
.login .or::before{
    position: absolute;
    width: 50px;
    height: 1px;
    content: '';
    background-image: linear-gradient(
        to left, #444, transparent
    );
    top: 50%;
    left: 20px;
}
.login .or::after{
    left: unset;
    right: 20px;
    background-image: linear-gradient(
        to right, #444, transparent
    );
}
.login .list img{
    width: 30px;
}
.login .list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px;
    gap: 20px;
    margin-bottom: 30px;
}
.login .item {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .regisster{
    font-size: small;

}
